
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(45deg, #ffeb3b, #000, #ffeb3b, #000);
    background-size: 400% 400%;
    animation: gradientAnimation 50s ease infinite; /* Ajustar la duración de la animación a 50s */
    color: #fff; /* Texto blanco */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-feed {
    border: 5px solid #ffeb3b; /* Borde amarillo */
    border-radius: 10px;
    width: 640px;
    height: 480px;
    transition: transform 0.5s ease;
}

#video-feed:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    color: #ffeb3b; /* Amarillo */
    font-size: 3rem;
    margin-bottom: 20px;
    transition: color 0.5s ease;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000; /* Borde negro */
}

h1:hover {
    color: #fff; /* Blanco al pasar el ratón */
}

.gesture-display {
    font-size: 2rem;
    color: #ffeb3b; /* Amarillo */
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #ffeb3b; /* Borde amarillo */
    border-radius: 5px;
    background-color: #000; /* Fondo negro */
    transition: background-color 0.5s ease, color 0.5s ease;
    text-align: center; /* Centrar el texto */
    width: 300px; /* Ancho fijo para centrar */
}

.gesture-display:hover {
    background-color: #ffeb3b; /* Fondo amarillo al pasar el ratón */
    color: #000; /* Texto negro al pasar el ratón */
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ffeb3b; /* Amarillo */
    font-size: 0.8rem; /* Texto pequeño */
}